.cart {
    position: sticky;
    top: 0;
    /* padding: 4em; */
}

.cart h2 {
    padding: 5px 0;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 2em;
}

.choose-btn,
.choose-again {
    margin-top: 2em;
    font-weight: 500;
    font-size: 1em;
    padding: 10px 20px;
    /* border-radius: 5px; */
    background-color: #f8d1b8;
    border: 2px solid #000;
    transition: ease-in-out 0.3s;
}

.choose-again {
    margin-top: 1em;
    background-color: #000;
    color: #fff;
    transition: ease-in-out 0.3s;
}

.choose-btn:hover,
.choose-again:hover {
    background-color: #8f2929;
    border: 2px solid #8f2929;
    color: #fff;
}

.random {
    margin: 20px 0;
}

.random span {
    font-weight: 600;
    font-size: 1.5em;
    color: #8f2929;
}